<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Big2"
        tools:targetApi="31">

        <!-- Force Light Mode Globally -->
        <meta-data
            android:name="androidx.appcompat.app.ThemeProvider"
            android:value="@style/Theme.Big2"/>

        <meta-data
            android:name="android:forceDarkAllowed"
            android:value="false" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RulesActivity -->
        <activity android:name=".ui.activity.RulesActivity"
            android:exported="true" />

        <!-- SelectGameActivity -->
        <activity android:name=".ui.activity.SelectGameActivity"
            android:exported="true" />

        <!-- CreateGameActivity -->
        <activity android:name=".ui.activity.CreateGameActivity"
            android:exported="true"/>

        <!-- GameplayActivity -->
        <activity android:name=".ui.activity.GameplayActivity"
            android:exported="true" />

        <!-- GameSummaryActivity -->
        <activity android:name=".ui.activity.GameSummaryActivity"
            android:exported="true" />

        <!-- AddRoundActivity -->
        <activity android:name=".ui.activity.AddRoundActivity"
            android:exported="true"/>

    </application>

</manifest>
